
.Poster-Image {
    width: 75%;
}

.Poster {
    flex: 0 0 calc(18% - 2.5%); 
    margin-bottom: 20%; 
  }

  .Poster-Container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 15%;
    height: 33%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .Poster-Flip {
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform: rotateY(180deg);
  }
  
  .Poster-Front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .Poster-Front {
    z-index: 2;
  }
  
