.Home {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
    justify-content: space-between; 
  }
  
  body{
    color:azure;
    background-color: black;
  }
  
  .header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; 
  }
  
  .header-guide {
    margin-top: 50px;
    font-size: 24px;
    color: white;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .filter-button {
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .filter-button:hover {
    background-color: white;
    color: grey;
    transform: scale(1.05);
  }