
.Poster-Back {
    position: absolute;
    width: 75%;
    aspect-ratio: 2/3;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: rgb(36, 193, 196); 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-size: .8vw;
    color: black;
  }

h2, h3 {
    max-height: 20%;
    width:100%;
}
