
.Poster-Back {
    position: absolute;
    width: 75%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: bisque; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: black;
  }

h2 {
    width:100%;
}